<!DOCTYPE html>
<html>
<head>
  <title>FlatironKitchen</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

div class="header" style="background-color: #5ed6c0">
  <h1>Flatiron Kitchen</h1>
  <div class="nav">
    <%= link_to "Ingredients", ingredients_path %>
    <%= link_to "Recipes", recipes_path %>
  </div>
</div>

<%= yield %>

</body>
</html>
